{% extends 'game/layout.html' %}

{% block title %}Djangochess lobby{% endblock %}
{% block content %}
<div>
    <table class="table table-bordered d-flex justify-content-center">
        <tbody>
        <tr>
            <th scope="row">White:</th>
            <td><span id="white_nickname">-</span></td>
            <td>
                <button id="as-white" type="button" class="btn btn-secondary">Play as white</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Black:</th>
            <td><span id="black_nickname">-</span></td>
            <td>
                <button id="as-black" type="button" class="btn btn-secondary">Play as black</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <button href={% url 'start_game' game_id %}id="start_game_button" type="button" class="btn btn-primary">Start game</button>
    </div>
</div>
{{ game_id|json_script:"game-id" }}
{% load static %}
<script type="text/javascript" src="{% static 'game/lobby.js' %}"></script>
{% endblock %}
