{% extends 'game/layout.html' %}

{% block title %}Djangochess lobby{% endblock %}
{% block content %}
    <div>
        <form action="/game/start-game" method="post">
            {% csrf_token %}
            <table class="table table-bordered d-flex justify-content-center">
                <tbody>
                <tr>
                    <th scope="row">White:</th>
                    <td>{{ form.white_player_name }}</td>
                    <td>
                        <button id="as-white" type="button" class="btn btn-secondary">Play as white</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Black:</th>
                    <td>{{ form.black_player_name }}</td>
                    <td>
                        <button id="as-black" type="button" class="btn btn-secondary">Play as black</button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form.game_id }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Start game</button>
            </div>
        </form>
    </div>
    {{ game_id|json_script:"game-id" }}
    {% load static %}
    <script type="text/javascript" src="{% static 'game/lobby.js' %}?version=1"></script>
{% endblock %}
